<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div [chart]="homeLoanBalanceDeltaChart"></div>
    </div>
    <div class="col-md-6">
      <div [chart]="homeLoanBalanceGrowthChart"></div>
    </div>
    <div class="col-md-6">
      <div [chart]="homeLoanInterestDeltaChart"></div>
    </div>
    <div class="col-md-6">
      <div [chart]="homeLoanBalanceChart"></div>
    </div>
    <div class="col-md-6">
      <div [chart]="homeLoanInterestChart"></div>
    </div>
    <div class="col-md-6">
      <div [chart]="homeLoanRepaymentChart"></div>
    </div>
  </div>
</div>